@model List<Question>
@{
        ViewData["Title"] = "Test Ciljeva";
    }
    <style>
    body {
        background-color: #1B1D1F;
    }

    label,
    input,
    span,
    a {
        color: #ffffff;
    }

    button[type="submit"].submit-button {
        background-color: #ff4300;
        color: #ffffff;
        padding: 10px 30px;
        border: none;
        cursor: pointer;
    }

    .question-text {
        color: #ffffff;
    }

    .answer {
        color: #ffffff;
    }
    </style>
<h1 style ="color: #ff4300;">TEST CILJEVA</h1>
< br/>
@using (Html.BeginForm())
{
    for (int i = 0; i < Model.Count; i++)
    {
        <h3 class="question-text">@Model[i].Text</h3>
        @if (i == 0)
        {
            <div class="answer">
                <input type="text" name="Answer[@i]" />
            </div>
        }
        else if (i == 2)
        {
            <div class="answer">
                <input type="text" name="Answer[@i].Answer1" placeholder="Masa (kg)" />
            </div>
            <div>
                <input type="text" name="Answer[@i].Answer2" placeholder="Visina (cm)" />
            </div>
        }
        else if (i == 4 || i==8)
        {
            @for (int j = 0; j < Model[i].Answers.Count; j++)
            {
                <div class="answer">
                    <input type="checkbox" name="Answer[@i].SelectedAnswers" value="@Model[i].Answers[j]" />
                    @Model[i].Answers[j]
                </div>
            }
        }
        else

        
        @for (int j = 0; j < Model[i].Answers.Count; j++)
        {
            <div class="answer">
                @Html.RadioButton($"Answer[{i}]", Model[i].Answers[j])
                @Model[i].Answers[j]
            </div>
        }
        <br />
    }
        
        <br />

    <button type="submit" class="submit-button">Submit</button>
}