@model IEnumerable<FitnessFusion.Models.GymProgram>

@{
    ViewData["Title"] = "Index";
}

<h1>Programi Aktivnosti</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Overview)
            </th>
            <th>
                Average Rating
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type, "GymProgramType")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Overview)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.averageRating)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Pregled detalja</a>
            </td>
        </tr>
}
    </tbody>
</table>
